---
import { formatDate, imageUrlOrFallback, portableTextToPlainText } from "../lib/sanity";
import type { BlogAuthorRecord, BlogPostRecord } from "../lib/content-types";

interface Props {
  post: BlogPostRecord;
  author?: BlogAuthorRecord | null;
}

const { post, author } = Astro.props;
const excerpt = portableTextToPlainText(post.content);
const authorPhoto = imageUrlOrFallback(author?.photo);
---

<article class="stories-page__story-card" data-blog-card data-blog-date={post.date}>
  <a class="stories-page__story-link" href={`/sonjin-blog/${post.slug}`}>
    <div class="stories-page__story-media">
      <img class="stories-page__story-image" src={imageUrlOrFallback(post.coverImage)} alt={`Naslovna fotografija blog objave ${post.title}`} />
    </div>
    <div class="stories-page__story-content">
      <div class="stories-page__story-meta">
        {
          author && (
            <span class="stories-page__story-author">
              {authorPhoto && (
                <span class="stories-page__story-author-avatar" aria-hidden="true">
                  <img src={authorPhoto} alt="" />
                </span>
              )}
              <span>{author.name}</span>
            </span>
          )
        }
        <time class="stories-page__story-date" datetime={post.date}>{formatDate(post.date)}</time>
      </div>
      <h2 class="stories-page__story-title">{post.title}</h2>
      <p class="stories-page__story-excerpt">{excerpt}</p>
      <span class="stories-page__story-cta">Pročitaj objavu</span>
    </div>
  </a>
</article>
